@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #2f241f;
  --second-color: #553b33;
  --third-color: #e5f0b6;

  --main-font: 'Inter', sans-serif;
}

body {
  max-width: 100vw;
}

* {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #00000005;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 65px;
}

.header-logo,
.header-btn {
  width: 150px;
}

.header-logo h1 {
  font-weight: bold;
  font-size: 28px;
}

.header-btn {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.btn {
  padding: 7px 9px;
  border: none;
  border-radius: 8px;
}

.btn-signup {
  background-color: var(--third-color);
  border: none;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 14px;
}

.btn-icon {
  background-color: #553b33;
  color: #e5f1b5;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-links a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.hero {
  width: 100vw;
  display: flex;
}

.hero-desc-container {
  width: 65%;
  height: 550px;
}

.hero-desc {
  width: 70%;
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-desc h1 {
  font-size: 64px;
  color: #2f241f;
}

.hero-desc h1 span {
  color: #817253;
}

.hero-desc-btn {
  margin-top: 12px;
  display: flex;
  gap: 55px;
}

.btn-big {
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn-search {
  background-color: #e5f0b6;
  color: #553b33;
}

.btn-watch {
  border: 1px solid #553b33;
  color: #553b33;
  background-color: transparent;
}

.hero-img-container {
  width: 35%;
  position: relative;
}

.hero-img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  position: absolute;
}

.hero-img-desc {
  height: 550px;
  position: absolute;
  display: flex;
  align-items: end;
  width: 100%;
}

.hero-img-desc div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.hero-img-title {
  font-weight: 400;
  font-size: 46px;
  width: 100%;
  color: #fff;
}

.hero-img-btn {
  width: fit-content;
  padding: 12px 18px;
  background-color: #2f241f;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 65px;
}

.badge {
  background: #ffffff80;
  padding: 6px 8px;
  width: fit-content;
  border-radius: 8px;
  color: #2f241f;
}

.super {
  width: 100vw;
  display: flex;
  background-color: #2f241f;
}

.big-font {
  font-size: 48px;
}

.super-wrapper {
  margin: 50px auto;
  display: flex;
  color: #e5f0b6;
  flex-direction: column;
  gap: 30px;
}

.super-info {
  display: flex;
  justify-content: space-between;
}

.partner {
  background-color: #fcfafa;
}

.partner-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-brand {
  display: flex;
  gap: 100px;
}

.categories-wrapper {
  display: flex;
  margin: 50px 0;
  gap: 16px;
}

.categories-wrapper .categories-img {
  width: 150px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.categories-img.active {
  width: 450px;
}

.categories-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 500px;
}

.categories-info .category {
  font-weight: 400;
  font-size: 24px;
  color: #2f241f;
}

.categories-info h1 {
  font-size: 48px;
}

.categories-list-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.categories-list.item {
  background-color: #fcfafa;
  padding: 18px;
}

.categories-list.item.active {
  background-color: #e5f0b6;
}

.categories-list.item.active p {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
}

.categories-list.item span {
  font-weight: 700;
  font-size: 18px;
}

.products {
  background-color: #2f241f;
  padding: 50px 0;
}

.products-info {
  margin: 0 auto;
  color: #e5f0b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products-title span {
  font-weight: 400;
  font-size: 20px;
}

.products-title h1 {
  font-weight: 700;
  font-size: 40px;
}

.products-btn {
  background-color: #e5f0b6;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  color: #2f241f;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products-img-wrapper {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.products-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.products-btn-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  gap: 12px;
}

.products-btn-wrapper button {
  background-color: #e5f0b6;
  padding: 10px 11px;
  border-radius: 50%;
  border: none;
}

.deals {
  background-color: #fcfafa;
}

.deals-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.deals-wrapper span {
  color: #2f241f;
  font-size: 20px;
  font-weight: 400;
}

.deals-wrapper h1 {
  font-weight: 700;
  font-size: 64px;
}

.deals-input {
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.deals-input input {
  border: none;
  background-color: transparent;
  padding: 16px 20px;
  font-size: 14px;
}

.deals-input button {
  border: none;
  padding: 16px 20px;
  background-color: #e5f0b6;
}

.deals-input button i {
  font-size: 24px;
}

footer {
  padding: 50px 0;
  height: 175px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left .logo {
  color: #2F241F;
  font-weight: bold;
  font-size: 18px;
}

.footer-left p {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-left .copyright {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-right {
  width: 50%;
}

.footer-right-wrapper {
  display: flex;
  gap: 24px;
  justify-content: end;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.footer-menu span {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-menu .footer-menu-title {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
