@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #2f241f;
  --second-color: #553b33;
  --third-color: #e5f0b6;

  --main-font: 'Inter', sans-serif;
}

body {
  max-width: 100vw;
}

* {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
}

.flex {
  display: flex !important;
}

.scale-out {
  transform: scale(100%) !important;
}

.not-transparent {
  opacity: 1 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.container {
  width: 80%;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #00000005;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 65px;
}

.header-mobile {
  display: none;
  position: relative;
  cursor: pointer;
}

.header-menu-mobile {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 100%;
  top: 0;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
  flex-direction: column;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.header-menu-mobile a {
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px;
}

.header-menu-mobile a i{
  font-size: 12px;
}

.header-logo {
  display: flex;
  gap: 4px;
}

.header-logo div {
  align-items: center;
  display: flex;
}
.header-logo,
.header-btn {
  width: 150px;
}

.header-logo h1 {
  font-weight: bold;
  font-size: 28px;
}

.header-btn {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.btn {
  padding: 7px 9px;
  border: none;
  border-radius: 8px;
}

.btn-signup {
  background-color: var(--third-color);
  border: none;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 14px;
}

.btn-icon {
  background-color: #553b33;
  color: #e5f1b5;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-links a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.hero {
  width: 100vw;
  display: flex;
}

.hero-desc-container {
  width: 65%;
  height: 550px;
}

.hero-desc {
  width: 70%;
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-desc h1 {
  font-size: 64px;
  color: #2f241f;
}

.hero-desc h1 span {
  color: #817253;
}

.hero-desc-btn {
  margin-top: 12px;
  display: flex;
  gap: 55px;
}

.btn-big {
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn-search {
  background-color: #e5f0b6;
  color: #553b33;
}

.btn-watch {
  border: 1px solid #553b33;
  color: #553b33;
  background-color: transparent;
}

.hero-img-container {
  width: 35%;
  position: relative;
}

.hero-img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  position: absolute;
}

.hero-img-desc {
  height: 550px;
  position: absolute;
  display: flex;
  align-items: end;
  width: 100%;
}

.hero-img-desc div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.hero-img-title {
  font-weight: 400;
  font-size: 46px;
  width: 100%;
  color: #fff;
}

.hero-img-btn {
  width: fit-content;
  padding: 12px 18px;
  background-color: #2f241f;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 65px;
}

.badge {
  background: #ffffff80;
  padding: 6px 8px;
  width: fit-content;
  border-radius: 8px;
  color: #2f241f;
}

.super {
  width: 100vw;
  display: flex;
  background-color: #2f241f;
}

.big-font {
  font-size: 48px;
}

.super-wrapper {
  margin: 50px auto;
  display: flex;
  color: #e5f0b6;
  flex-direction: column;
  gap: 30px;
}

.super-info {
  display: flex;
  justify-content: space-between;
}

.super-icon {
  padding: 8px 9px;
  background-color: #e5f0b680;
  border-radius: 8px;
}

.partner {
  background-color: #fcfafa;
}

.partner-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-brand {
  display: flex;
  gap: 100px;
}

.categories-wrapper {
  display: flex;
  margin: 50px 0;
  gap: 16px;
}

.categories-small-img {
  display: flex;
  gap: 16px;
}

.categories-wrapper .categories-img {
  width: 150px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.categories-img.active {
  width: 450px;
}

.categories-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 500px;
}

.categories-info .category {
  font-weight: 400;
  font-size: 24px;
  color: #2f241f;
}

.categories-info h1 {
  font-size: 48px;
}

.categories-list-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.categories-list.item {
  background-color: #fcfafa;
  padding: 18px;
}

.categories-list.item.active {
  background-color: #e5f0b6;
}

.categories-list.item.active p {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
}

.categories-list.item span {
  font-weight: 700;
  font-size: 18px;
}

.products {
  background-color: #2f241f;
  padding: 50px 0;
}

.products-info {
  margin: 0 auto;
  color: #e5f0b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products-title span {
  font-weight: 400;
  font-size: 20px;
}

.products-title h1 {
  font-weight: 700;
  font-size: 40px;
}

.products-btn {
  background-color: #e5f0b6;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  color: #2f241f;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products-img-wrapper {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.products-img-wrapper-container {
  display: flex;
  gap: 12px;
  width: fit-content;
  transition: all .3s ease-out;
}

.products-img-container {
  position: relative;
}

.products-img-container .active-text {
  display: none;
}

.products-img-container.active .active-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
  display: flex;
  padding: 0 15px;
  justify-content: end;
  gap: 12px;
  flex-direction: column;
}

.products-img-container.active .active-text h1 {
  margin-bottom: 25px;
  font-size: 32px;
}

.products-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.products-btn-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  gap: 12px;
}

.products-btn-wrapper button {
  background-color: #e5f0b6;
  padding: 10px 11px;
  border-radius: 50%;
  border: none;
}

.deals {
  background-color: #fcfafa;
}

.deals-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.deals-wrapper span {
  color: #2f241f;
  font-size: 20px;
  font-weight: 400;
}

.deals-wrapper h1 {
  font-weight: 700;
  font-size: 64px;
}

.deals-input {
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.deals-input input {
  border: none;
  background-color: transparent;
  padding: 16px 20px;
  font-size: 14px;
}

.deals-input button {
  border: none;
  padding: 16px 20px;
  background-color: #e5f0b6;
}

.deals-input button i {
  font-size: 24px;
}

footer {
  padding: 50px 0;
  height: 175px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left .logo {
  color: #2f241f;
  font-weight: bold;
  font-size: 18px;
}

.footer-left p {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-left .copyright {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-right {
  width: 50%;
}

.footer-right-wrapper {
  display: flex;
  gap: 24px;
  justify-content: end;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.footer-menu span {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.footer-menu .footer-menu-title {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  .header-links {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-mobile i {
    font-size: 28px;
  }

  .header-logo h1 {
    font-size: 24px;
  }

  .hero {
    flex-direction: column;
  }

  .hero-desc {
    height: 450px;
  }

  .hero-desc-container {
    width: 100%;
    height: fit-content;
  }

  .hero-desc h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .hero-desc-btn {
    flex-direction: column;
    gap: 12px;
  }

  .hero-img-container {
    height: 350px;
    width: 100%;
  }

  .hero-img {
    height: 350px;
  }

  .hero-img-desc {
    height: 350px;
  }

  .hero-img-btn {
    margin-bottom: 25px;
  }

  .hero-img-title {
    font-size: 36px;
  }

  .super-wrapper h1 {
    text-align: center;
    font-size: 28px;
  }

  .super-info {
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    gap: 8px;
  }

  .super-info div {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .partner-wrapper {
    flex-direction: column;
  }

  .partner-wrapper h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
  }

  .partner-wrapper h1 span {
    font-weight: 700;
  }

  .partner-brand {
    gap: 45px;
  }

  .partner-brand img {
    align-items: center;
    width: 75px;
  }

  .partner-brand div {
    display: flex;
    align-items: center;
  }

  .categories-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .categories-info {
    gap: 24px;
    height: 425px;
  }

  .categories-info span {
    text-align: center;
  }

  .categories-info h1 {
    text-align: center;
    font-size: 30px;
  }

  .categories-wrapper .categories-img {
    width: 150px;
    height: 200px;
    border-radius: 12px;
  }

  .categories-small-img {
    justify-content: space-between;
    width: 90%;
  }

  .deals-wrapper {
    gap: 18px;
  }

  .deals-wrapper span {
    text-align: center;
  }

  .deals-wrapper h1 {
    font-size: 28px;
    text-align: center;
  }

  .deals-input-wrapper {
    display: flex;
    justify-content: center;
  }

  .deals-input input {
    width: 300px;
    outline: none;
  }

  footer {
    height: fit-content;
    padding-bottom: 25px;
  }

  .footer-container {
    flex-direction: column;
    height: fit-content;
    gap: 24px;
  }

  .footer-left {
    width: 100%;
    line-height: 26px;
  }

  .logo {
    font-size: 24px;
  }

  .footer-left span {
    text-align: center;
  }

  .footer-left p {
    text-align: center;
  }

  .copyright {
    display: none;
  }

  .footer-right {
    width: 100%;
  }

  .footer-right-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-menu {
    width: 150px;
    gap: 24px;
    text-align: center;
  }

  .products-title span {
    font-size: 18px;
  }

  .products-title h1 {
    font-size: 28px;
  }

  .products-img-wrapper {
    overflow: hidden;
    gap: 18px;
    width: 95vw;
  }

  .products-img-wrapper-container {
    width: fit-content;
  }

  .products-img-container {
    position: relative;
    height: 350px;
    width: 250px;
  }

  .products-img {
    position: absolute;
  }
}
