@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #2f241f;
  --second-color: #553b33;
  --third-color: #e5f0b6;

  --main-font: "Inter", sans-serif;
}

body {
  max-width: 100vw;
}

* {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
}

.header {
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #00000005;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 65px;
}

.header-logo,
.header-btn {
  width: 150px;
}

.header-logo h1 {
  font-weight: bold;
  font-size: 28px;
}

.header-btn {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.btn {
  padding: 7px 9px;
  border: none;
  border-radius: 8px;
}

.btn-signup {
  background-color: var(--third-color);
  border: none;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 14px;
}

.btn-icon {
  background-color: #553B33;
  color: #E5F1B5;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 30px
}

.header-links a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000
}

.hero {
  width: 100vw;
  display: flex;
  height: 175px;
}

.hero-desc-container {
  width: 65%;
  height: 550px;
}

.hero-desc {
  width: 70%;
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-desc h1 {
  font-size: 64px;
  color: #2F241F;
}

.hero-desc h1 span {
  color: #817253;
}

.hero-desc-btn {
  margin-top: 12px;
  display: flex;
  gap: 55px;
}

.btn-big {
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn-search {
  background-color: #E5F0B6;
  color: #553B33;
}

.btn-watch {
  border: 1px solid #553B33;
  color: #553B33;
  background-color: transparent;
}

.hero-img-container {
  width: 35%;
  position: relative;
}

.hero-img {
  object-fit: cover;
  height: 550px;
  width: 100%;
  position: absolute;
}

.hero-img-desc {
  height: 550px;
  position: absolute;
  display: flex;
  align-items: end;
  width: 100%;
}

.hero-img-desc div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.hero-img-title {
  font-weight: 400;
  font-size: 46px;
  width: 100%;
  color: #fff;
}

.hero-img-btn {
  width: fit-content;
  padding: 12px 18px;
  background-color: #2F241F;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 65px;
}

.badge {
  background: #FFFFFF80;
  padding: 6px 8px;
  width: fit-content;
  border-radius: 8px;
  color: #2F241F;
}
